<div class="mmscreen">
  <div class="mmscreen-header">
    <div class="name">Csaba SZELL</div>
    <div class="controls">
      <button class="new-member" (click)="displayModal($event)">New member</button>
    </div>
  </div>

  <div class="members">
    <div class="table">
      <div class="table-header">
        <div class="member">Member</div>
        <div class="role">Role</div>
        <div class="access-level">Access Level</div>
      </div>
      <div class="table-row">
        <div class="member">
          <select class="select member-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="role">
          <select class="select role-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="access-level">
          <select class="select access-level-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="remove">
          <img class="remove-icon" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/5GQ71W/9c/3e/a0/9c3ea0c23cea404fb49d1e89ce31b1e2/images/membership_management_screen/u17.svg?token=48ef64b2a1f767b0212ccb0f0bf006ac92bbf6aff620a30de2ef643661df895b" alt="Remove user">
        </div>
      </div>
      <div class="footnote">
        <a href='' (click)="displayModal($event)">Add new member</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showModal" (click)="overlayClick($event)">
  <div class="modal-wrapper">
    <div class="modal-header">
      <div class="modal-title">Create member</div>
      <div class="modal-close" (click)="closeModal($event)">
        <img class="close-icon" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/5GQ71W/9c/3e/a0/9c3ea0c23cea404fb49d1e89ce31b1e2/images/membership_management_screen/u33.svg?token=8f4d6803befe5998c758feb46f0f47faa758f34230d5bd7092fadb3a03127242" alt="Clsoe modal">
      </div>
    </div>
    <div class="modal-content">
      <form class="modal-form">
        <div class="section-left">
          <div class="input-block">
            <label for="first-name">First name <span class="required">*</span></label>
            <input class="text-input" type="text" id="first-name">
          </div>
          <div class="input-block">
            <label for="last-name">Last name <span class="required">*</span></label>
            <input class="text-input" type="text" id="last-name">
          </div>
          <div class="checkbox-block">
            <input class="checkbox" type="checkbox" id="user-status">
            <label for="user-status">
              User status
            </label>
          </div>
          <div class="checkbox-note">
            Designates whether the person can login into application
          </div>
        </div>
        <div class="section-right">
          <div class="input-block">
            <label for="title">Title</label>
            <input class="text-input" type="text" id="title">
          </div>
          <div class="input-block">
            <label for="business-unit">Business Unit</label>
            <input class="text-input" type="text" id="business-unit">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-controls">
      <div class="cancel-text" (click)="closeModal($event)">Cancel</div>
      <button class="create-member-button">Create member</button>
    </div>
  </div>
</div>
