<div class="mmscreen">
  <div class="mmscreen-header">
    <div class="name">Csaba SZELL</div>
    <div class="controls">
      <button class="new-member">New member</button>
    </div>
  </div>

  <div class="members">
    <div class="table">
      <div class="table-header">
        <div class="member">Member</div>
        <div class="role">Role</div>
        <div class="access-level">Access Level</div>
      </div>
      <div class="table-row">
        <div class="member">
          <select class="select member-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="role">
          <select class="select role-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="access-level">
          <select class="select access-level-select" name="" id="">
            <option value="">name1</option>
          </select>
        </div>
        <div class="remove">
          <img class="remove-icon" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/5GQ71W/9c/3e/a0/9c3ea0c23cea404fb49d1e89ce31b1e2/images/membership_management_screen/u17.svg?token=48ef64b2a1f767b0212ccb0f0bf006ac92bbf6aff620a30de2ef643661df895b" alt="">
        </div>
      </div>
      <div class="footnote">
        <a href='#'>Add new member</a>
      </div>
    </div>
  </div>
</div>
