<div class="mmscreen">
  <div class="mmscreen-header" [ngClass]="{ changed: changed }">
    <div class="name">Csaba SZELL</div>
    <div class="controls">
      <button class="new-member" (click)="displayModal($event)">New member</button>
      <button class="save-changes-button" *ngIf="changed" (click)="saveEvent($event)">Save Changes</button>
    </div>
  </div>

  <div class="members">
    <div class="table" *ngIf="!(error$ | async); else displayerror">
      <div class="table-header">
        <div class="member">Member</div>
        <div class="role">Role</div>
        <div class="access-level">Access Level</div>
      </div>
      <div class="table-row" *ngFor="let member of memberSettings$ | async; let idx = index">
        <app-member-set [data]="member" [users$]="data$" [settings$]="memberSettings$" (change)="setChanged($event)" (remove)="removeRow($event, idx)"></app-member-set>
      </div>
      <div class="footnote">
        <a class="add-new-setting" href='' (click)="addRow($event)" [ngClass]="{ disabled: disableNewSetting$ | async }">Add new member</a>
      </div>
    </div>
  </div>

  <ng-template #displayerror>
    <div class="error">
      Can't load user list: {{ (errorData$ | async)?.statusText }} ({{ (errorData$ | async)?.status }})
    </div>
  </ng-template>
</div>


<div class="modal" *ngIf="showModal" (click)="overlayClick($event)">
  <app-add-user-modal (close)="closeModal($event)"></app-add-user-modal>
</div>
