<form class="member-form" [formGroup]="memberForm">
  <div class="member">
    <select class="select member-select" name="" id="" formControlName="personId">
      <option *ngFor="let user of filteredUsers$ | async" [value]='user.person_id'>{{ user.lastname }} {{ user.firstname }}</option>
    </select>
  </div>
  <div class="role">
    <select class="select role-select" name="" id="" formControlName="role">
      <option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</option>
    </select>
  </div>
  <div class="access-level">
    <select class="select access-level-select" name="" id="" formControlName="accessLevel">
      <option *ngFor="let accessLevel of accessLevels$ | async" [value]="accessLevel.value">{{ accessLevel.name }}</option>
    </select>
  </div>
  <div class="remove" (click)="removeRow($event)">
    <img class="remove-icon" src="/assets/icons/close-blue.svg" alt="Remove user">
  </div>
</form>
